.products-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 1200px;
    flex-wrap: wrap;
}

.product-card {
    color: black;
}