.categories-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 1200px;
    flex-wrap: wrap;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


