.product-crud {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.btns-container {
    width: 400px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-btns{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.submit-form-btn {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin: 20px;
}