.category-crud {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.category-form-container {
    width: 800px;
    height: 250px;
    background-color: #89BDC3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

.form-btns-container {
    width: 400px;
    background-color: #89BDC3;
    display: flex;
    justify-content: space-around;

}

.submit-btn{
    background-color: green;
}

.delete-btn {
    width: 150px;
    background-color: red;
    border: none;
    border-radius: 15px;
    color: white;
}

.edit-btn {
    width: 80px;
    background-color: grey;
    border: none;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-btn-content {
    background-color: grey;
    color: white;
    border: none;
}